.progress-container{
    display: flex;
    margin-top: 52px;
}
.progress-content,
.progress-img{
    width: 100%;
    max-width: 50%;
    padding-right: 50px;
}
.progress-img img{
    width: 100%;
    max-width: 100%;
    height: auto;
}

.progress-heading{
    font-size: 56px;
    font-weight: 400;
    margin: 25.52px 0;
}

.meter { 
    height: 20px;
    width: 100%;
    position: relative;
    background: rgb(243, 239, 239);
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
}
.meter > span {
    display: block;
    height: 100%;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #aaa5ff;
    position: relative;
    overflow: hidden;
}
.skill{
    line-height: 3.5vw;
}
.skills-p{
    font-size: 19px;
}

@media(max-width:1366px){
    .skills-p{
        font-size: 16px;
    }
}
@media (max-width:768px){
    .progress-img{
        order: 2;
    }
}