.achievementCard-container{
    display: flex;
}
.achievement-header{
    margin-top: 64px;
    margin-bottom: 50px;
}

@media (max-width:1366px){}
@media (max-width:992px){
    .achievementCard-container{
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media (max-width: 576px) {
    .achievement-header{
      margin-top: 0;
      margin-bottom: 25px;
    }
  }