/* .header {
    max-width: 90%;
    padding: 20px 10px;
    margin: 0px auto;
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
  }
  .grey-color {
    color: #868e96;
  }

  .header li a {
    display: block;
    padding: 20px 20px;
    color: black;
    text-decoration: none;
  }
  .header .logo {
    display: block;
    float: left;
    font-size: 1.5em;
    text-decoration: none;
    margin-top: 10px;
    line-height: normal;
  }
   .header .logo-name {
    font-family: 'Agustina Regular';
    font-weight: bold;
    text-shadow: 1px 1px 3px rgb(207, 207, 219);
    padding: 0 10px;
  } */
  .nav-container{
      display: flex;
      justify-content:  space-between;
      align-items: center;
      width: 100%;
      max-width: 90%;
      height: 70px;
      margin-left: auto;
      margin-right: auto;
  }

  .navbar-top-default{
    position: absolute;
    top: 0;
    z-index: 99;
    height: 110px;
    width: 100%;
    -webkit-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
    background-color: #fff;
}


.header-appear .navbar-top-default {
    height: 100px;
    position: fixed;
    z-index: 888;
    background: #fff;
    -webkit-animation-name: animationFade;
    animation-name: animationFade;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.35);
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.35);
}
@-webkit-keyframes animationFade {
    from { opacity: 0; -webkit-transform: translate3d(0, -100%, 0); transform: translate3d(0, -100%, 0); }
    to { opacity: 1; -webkit-transform: none; transform: none; }
}
@keyframes animationFade {
    from { opacity: 0; -webkit-transform: translate3d(0, -100%, 0); transform: translate3d(0, -100%, 0);
    }
    to { opacity: 1; -webkit-transform: none; transform: none; }
}

.header-appear .navbar .logo-default,
.navbar .logo-scrolled {
    display: none;
}
.header-appear .navbar .logo-scrolled,
.navbar .logo-default{
    display: inline-block;
}
.logo{
    width: 26%;
}


.nav-list{
    display: inline-flex;
    list-style: none;
}
.nav-a{
    color: #484F5B;
    padding-left: 17px;
    padding-right: 17px;
    font-size: 20px;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;  
    transition:  all 0.3s ease;
}
.nav-a:hover{
    color: #15171a;
}

.menu-bar{
    /* border: 1px solid red; */
    display: block;
    height: 30px;
    width: 33px;
    position: relative;
}
.menu-span{
    position: absolute;
    top: 13px;
    left: 0;
    width: 30px;
    height: 2px;
    background: #2b2b2b;
    display: inline-block;
}
.menu-span:before,
.menu-span:after{
    content: '';
    position: absolute;
    height: 2px;
    width: 30px;
    transition:  all 0.2s ease-in-out;
}
.menu-span:before{
    top: -7px;
    left: 0;
    background: #2b2b2b;
}
.menu-span:after{
    top: 7px;
    width: 15px;
    right: 0;
    background: #2b2b2b;
}
.menu-bar:hover .menu-span:before,
.menu-bar:hover .menu-span:after{
    width: 17px;
}
#menu-bar:checked ~ .nav-list{
    left: 0%;
}
.btnn-close{
    position: absolute;
    right: 65px;
    top: 30px;
    color: #ffffff;
    font-size: 26px;
    cursor: pointer;
    z-index: 1111;
}

.btnn-close:hover{
    -webkit-animation: .8s rotate;
    animation: .8s rotate;
}
@-webkit-keyframes rotate {
    from{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.radio{
    display: none;
}
.btnn{
    position: absolute;
    top: 30px;
    right: 40px;
    z-index: 3323;
    display: inline-block;
}

@media (max-width:992px){
    .nav-list{
        position: fixed;
        top: 0px;
        left: -100%;
        display: block;
        width: 100%;
        max-width: 320px;
        height: 100vh;
        background-color:#484F5B;
        padding-left: 20px;
        padding-right: 20px;
        transition:  all 0.3s ease-in-out;
        padding-top: 100px;
    }
    .nav-a{
        color: #fff;
        padding:8px 0px;
        display: block;
    }
    .nav-a:hover{
        color: rgb(216, 215, 215);
    }
    
}



/*min-width*/
 
@media(min-width:992px){
    .menu-destop,
    .btnn-close{
        display: none;
    }
}